packages:
  yum:
    git: []
    postgresql-devel: []
    gcc: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    patch: []
    libjpeg-turbo-devel: []
    libpng-devel: []
container_commands:
  build-pg:
    command: bundle config build.pg --with-pg-config=/usr/bin/pg_config