<div class="container-fluid">
  <div class="jumbotron" style="border:1px solid grey;border-radius: 3px;background-color:#fff">
    <div class="row">
        <div class="col-md-6">
          <div class="seller-name">
            <h1><%= @user.name %></h1>
          </div>
        </div>
    </div><br />
</div>
</div>
      


