<div class='container'>
	<div class="jumbotron"style="background-color:#000">
		<h1 style="color:#fff">About Us</h1>
			<p style="color:#fff">Everyday consumers are flooded with products and often find it hard to discover or follow a particular brand that would satisfy their shopping needs. We at Aquamyst have discovered over a hundred amazing online brands that ship custom made products with a target consumer in mind. Our goal is to connect you to these products. We take pride and a lot of effort to make sure that these businesses are unique and are driven to push products of extremely high quality. As we progress as a platform, we have a vision of adding more dynamic features to make the site as consumer-friendly as possible and help you discover more and more unique products.</p>
	</div>
</div>
