<div class="container">
	<h2 style="text-align:center">Thank you for your interest in working with us at Aquamyst. We will get in touch with you very soon.</h2>
</div>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
