@import "bootstrap-sprockets";
@import "bootstrap";

* 
{
    margin: 0;
}

html, body 
{
    height: 100%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
.company-details > .col-md-3 > h4
{
	color: #fff;
	font-family: "Raleway-Bold", sans-serif;
	font-size: 17px;
}
.company-details > .col-md-3 > p
{
	color: #fff;
	font-family: "Raleway-ExtraLight", sans-serif;
	font-size: 13px;
}
.company-details > .col-md-3 > p > a
{
	color: #fff;
	font-family: "Raleway-ExtraLight", sans-serif;
	font-size: 13px;
}
.dropdown {
    float: right;
    margin-right: 15px;
}

.footer {
   height:155px;
   width:100%;

}
.glyphicon-search
{
	margin-top: -1px;
}
.icon-bar {
    background-color: black;
  }

.icons >  a > img
{
    float: right;
    height: 50px;
    margin-top: -22px;
}
 .navbar-brand
  {
  	margin-top: -3px;
  }
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-default .navbar-nav li > a 
{
	color: #fff;
	font-family: "Raleway-ExtraLight", sans-serif;
	font-weight: thin;
	font-size: 15px;
}

.navbar-default .navbar-nav li > a:hover
{
	color: #fff;
	text-decoration: none;
}

.navbar-toggle
{
	border-color: black;
}


#search-form
{
	float:left;
	margin-top: 8px;
	margin-left: -1px;
}

.push
{
	height: 155px;
}

.wrapper 
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}


